/LeiloesTDSat/LeiloesTDSat/dist/
/LeiloesTDSat/LeiloesTDSat/LeiloesTDSat/build/
/LeiloesTDSat/LeiloesTDSat/LeiloesTDSat/nbproject/private/
/LeiloesTDSat/Leiloes/LeiloesTDSat/build/
/LeiloesTDSat/Leiloes/LeiloesTDSat/nbproject/private/
